.flip {
    background-color: transparent;
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    padding: 5px 0;
    margin-left: 15px;
    perspective: 1000px;
}

.flip-in {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;

}



.fb {

    width: 100%;
    height: 100%;

}

.fb img:hover {
    width: 102%;
    box-shadow: 0 0 3px 1.5px rgba(183, 105, 255, 0.662);
}

#secg{
    color: #e8fa02;
}



.name {
    font-size: 80px;
    color: white;
    font-weight: bold;
    position: absolute;
    right: -827px;
    bottom: 120px;
}

.name p {
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    padding: 5px;
}

.name p:hover {
    color: rgb(213, 179, 255);
    ;
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    padding: 3px;
}

#gt {
    font-size: 20px;
    font-weight: normal;
    text-align: left;
    padding: 2px;
    color: #e8fa02;
}

.box {
    display: flex;
    height: 28px;
    width: 91px;
    background-color: rgb(151, 59, 255);
    position: absolute;
    top: 0px;
    opacity: 20%;
}



.column {
    float: left;
    width: 20%;
    padding: 0 34px;
}

.row {
    margin: 0 -5px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}



.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;

    color: white;
    border-color: rgb(217, 183, 255);
    ;
    border-width: 2px;
    border-style: solid;
    border-radius: 8px;
}

.card:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(38, 18, 60);
}

.vidtut p {
    font-size: 25px;
    color: white;
    margin: 13px 38px;
    font-weight: bold;
}


.vidtut iframe {
    height: 440px;
    width: 220px;
    margin: 0 11px;

}


.socials {
    width: 80%;
}

.socials img {
    position: relative;
    align-items: center;
    top: -23px;
    left: 286px;

    width: 100px;
    height: 100px;
    padding: 12px;
}

.socials img#yt {
    width: 150px;
    height: 100px;
}

.socials img#yt:hover {
    background-color: red;
    border-radius: 20px;
}

.socials img#insta:hover {
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
    border-radius: 20px;
}

.socials img#x:hover {
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
}

.socials img#dc:hover {
    background-color: #5865F2;
    border-radius: 20px;
}

.socials img#lin:hover {
    background-color: #004cff;
    border-radius: 20px;
}

.socials img#be:hover {
    background-color: #053eff;
    border-radius: 20px;
}

.socials img#gh:hover {
    background-color: #000;
    border-radius: 20px;
}



@media only screen and (max-width:768px) {

    .flip {
        background-color: transparent;

        width: 50px;
        height: 50px;
        display: grid;

        padding: 5px 0;
        margin-left: 15px;
        perspective: 1000px;
    }

    .fb img {
        width: 200px;
        height: 200px;
        margin-left: 15px;
    }

    .name {
        font-size: 25px;
        color: white;
        font-weight: bold;
        position: absolute;
        left: 15px;
        top: 250px;
    }

    .name p {
        font-size: 20px;
        font-weight: normal;
        text-align: center;
        padding: 5px;
    }

    #secg {
        position: relative;
        right: 300px;
        font-size: 18px;
    }



    .row {
        margin: 37px -5px;

    }

    .r {
        position: relative;
        margin: 0 90px;
        margin-top: 360px;
    }

    .column {
        float: left;
        width: 30%;
        height: 20%;
        padding: 0 20px;
        margin-bottom: 6px;
        margin-left: 15px;
    }

    .card p {
        font-size: 12px;
    }

    .card h3 {
        font-size: 15px;
    }

    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        padding: 6px;
        text-align: center;

        color: white;
        border-color: rgb(217, 183, 255);
        ;
        border-width: 2px;
        border-style: solid;
        border-radius: 8px;
    }


    .vidtut iframe {
        height: 220px;
        width: 110px;
        margin: 0 5px;
        
    }

    .vidtut{
        margin-left: 25px;
    }

    .socials {
        width: 70%;
    }
    
    .socials img {
        position: relative;
        align-items: center;
        bottom: 30px;
        left: 60px;
    
        width: 25px;
        height: 25px;
        padding: 2px;
    }
    .socials img#yt {
        width: 40px;
        height: 25px;
    }
    .socials img#yt:hover {
        background-color: red;
        border-radius: 10px;
    }
    
    .socials img#insta:hover {
        
        border-radius: 10px;
    }
    
    .socials img#x:hover {
        
        border-radius: 10px;
    }
    
    .socials img#dc:hover {
        
        border-radius: 10px;
    }
    
    .socials img#lin:hover {
      
        border-radius: 10px;
    }
    
    .socials img#be:hover {
        
        border-radius: 10px;
    }
    
    .socials img#gh:hover {
     
        border-radius: 10px;
    }

}
