.revs img{
   
        width: 16%;
        position: relative;
        left: 2%;
        border-width: 0px;
        border-style: solid;
        border-color: white;
        border-radius: 14px;
        transition: transform 0.3s ease;
        object-fit: cover;
        padding: 19px;
}

p{
    font-size: 30px;
    color: white;
    margin: 5px 0;
    font-weight: bold;
    margin: 12px 43px;
}



p a{
    color: rgb(177, 171, 255);
    font-size: 15px;
    text-decoration: none;
    font-weight: normal;
}

p a:hover{
    color: rgb(238, 0, 255);
}
