* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #723ef8;


}







.cp {
  background-color: rgb(255, 255, 255);
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #333;

  display: inline-block;
  font-size: 20px;
  margin: -6px -6px;
}

.navbar {

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #31186f;
}

.navbar a {
  float: left;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.page {
  margin-left: 15px;
}

.page:hover {
  color: #e8fa02;
  text-decoration: dashed;
}

.navbar .logo {
  text-align: center;
  padding: 10px 16px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 24px;
}

.navbar .logo img {
  height: 40px;
  margin-right: 10px;
}



.Abt {
  background-color: #d9caff;
}

.container {
  display: flex;
  position: relative;
  left: 365px;

  align-items: center;
  max-width: 800px;
  justify-content: center;
  width: 100%;

  overflow: hidden;
}

.text {
  flex: 1;
  padding: 20px;
}

.text h1 {
  margin: 0;
  font-size: 24px;
  color: #333;
}

.text p {
  margin-top: 10px;
  font-size: 20px;
  color: #3400b9;
  line-height: 1.6;
}

.image {
  flex: 1;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;

}




.link a {
  font-size: 20px;
  margin-right: 10px;
  color: #000000;
}




.bb {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 80px;

  background-color: #000000;
}

.bb a {
  color: #e8fa02;
  text-decoration: none;
  font-size: 20px;
}

.about:hover {
  color: white;
}



hr {
  border: 0;
  background: rgb(32, 25, 42);
  height: 2px;
  margin: 30px 90px;
}






.stext {
  color: #000000;
  font-weight: bold;
  font-size: 30px;
}

.info {
  color: #dbcdff;
  font-size: 20px;
  margin-top: -20px;

}

.more {

  font-size: 20px;
  color: #e8fa02;
  position: relative;
  left: 1020px;

}

.tb {
  width: 32%;
  margin-right: 5px;
  border-radius: 8px;
}

.pt {
  width: 20%;
  border-radius: 8px;
  margin-right: 5px;
  padding-left: 23px;
}

.smp {
  width: 25%;
  border-radius: 8px;
  margin-right: 5px;
  padding-left: 10px;
}

.bn {
  width: 48%;
  border-radius: 8px;
  margin-right: 5px;
}

.vb {
  position: relative;
  display: inline-block;
  width: 330px;
  height: 190px;
  background-color: white;
  border-radius: 5px;
  margin-right: 31px;
}

.vb iframe {
  width: 320px;
  height: 180px;
  margin: 4px;

}

.graphics,
.vet {
  margin-left: 10px;
}

.shorts {
  position: relative;
  display: inline-block;
  height: 330px;
  width: 190px;
  background-color: white;
  border-radius: 5px;
  margin-right: 31px;
}

.shorts iframe {
  height: 320px;
  width: 180px;
  margin: 4px;

}

footer {

  background-color: #31186f;
}

.footer {
  color: rgb(255, 255, 255);
}

.footer {
  display: flex;
  justify-content: space-evenly;
  font-size: 20px;
  color: #ffffff;

  padding: 25px 0;

}

.footer ul {

  list-style: none;

}

.footer ul li {

  margin: 10px 0;


}



.footer a {
  text-decoration: none;
  color: #e8fa02;
}



.footer-third img {
  width: 25px;
  height: 25px;
  padding-left: 2px;
}

.centertext {
  text-align: center;
  font-size: 20px;
  color: #ffffff;
  font-weight: bold;
}


@media only screen and (max-width:768px) {
  .navbar a {
    float: left;
    color: rgb(255, 255, 255);
    text-align: left;
    padding: 2px 0px;
    text-decoration: none;
    font-size: 10px;
  }

  .cp {
    padding: 4px 5px;
    font-size: 12px;
  }

  .navbar {
    padding: 1px 1px;
    align-items: cleft;
  }

  .page {
    margin-left: 2px;
  }

  .navbar .logo {
    text-align: center;
    padding: 5px 1px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 2px;
  }

  .navbar .logo img {
    height: 40px;
    margin-right: 2px;
  }

  .container {
    left: 5px;
    align-items: left;
  }

  text {
    flex: 1;
    padding: 5px;
  }

  .text h1 {
    margin: 0;
    font-size: 18px;
    color: #333;
  }

  .text p {
    margin-top: 5px;
    font-size: 14px;
    color: #3400b9;
    line-height: 1.6;
  }

  .link a {
    font-size: 12px;
    margin-right: 5px;
    color: #000000;
  }

  .image img {
    width: 100%;
    position: relative;
    right: 15px;
    height: 100%;
    object-fit: cover;
  }

  .bb a {
    color: #e8fa02;
    text-decoration: none;
    font-size: 15px;
  }

  hr {
    border: 0;
    background: rgb(32, 25, 42);
    height: 2px;
    margin: 30px 20px;
  }

  .info {
    color: #dbcdff;
    font-size: 14px;
    margin-top: -20px;

  }

  .more {

    font-size: 12px;
    color: #e8fa02;
    position: relative;
    left: 5px;

  }

  .tb {
    width: 45%;
    margin-right: 5px;
    border-radius: 8px;
  }

  .bn {
    width: 48%;
    border-radius: 8px;
    margin-right: 1px;
  }

  .pt {
    width: 30%;
    border-radius: 8px;
    margin-right: 1px;
    padding-left: 1px;
  }

  .smp {
    width: 45%;
    border-radius: 8px;
    margin-right: 5px;
    padding-left: 1px;
  }

  .shorts {
    position: relative;
    display: inline-block;
    height: 250px;
    width: 145px;
    background-color: white;
    border-radius: 5px;
    margin-right: 3px;
  }

  .shorts iframe {
    height: 240px;
    width: 135px;
    margin: 4px;

  }


  .footer {
    font-size: 15px;
  }

  .footer-second {
    position: relative;
    right: 72px;
    top: 15px;
  }

}